[Unit]     				
Description=btwaf
After=network.target
 
[Service]
WorkingDirectory=/www/server/panel/plugin/btwaf
Type=forking 
ExecStart=/www/server/panel/plugin/btwaf/btwaf.sh restart
ExecReload=/www/server/panel/plugin/btwaf/btwaf.sh restart
ExecStop=/www/server/panel/plugin/btwaf/btwaf.sh stop
PrivateTmp=true							   
Restart=always
RestartSec=5
StartLimitInterval=0
StartLimitBurst=5

[Install]
WantedBy=multi-user.target 